* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url("pexels-kinley-lindsey-19977685.jpg");
    background-position: center;
    background-size: cover;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h2 {
    user-select: none;
    font-size: 26px;
    font-weight: 700;
    color: azure;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    margin-left: 20px;
    color: azure;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content {
    max-width: 1200px;
    color: azure;
}

.main-content h1 {
    font-size: 3rem;
    max-width: 600px;
}

.main-content p {
    max-width: 600px;
    margin-top: 20px;
    font-size: 20px;
}

.main-content button {
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    padding: 12px 28px;
    border-radius: 8px;
    background: goldenrod;
    cursor: pointer;
}